# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast/*/*/*
/broadcast/*/31337/
/broadcast/**/dry-run/

# Include latest deployment
!/broadcast/**/run-latest.json

# Dotenv file
.env

# Ignore working folder
img_tmp